.app-detail {
    height: calc(100vh - #{$app-bar-height} - #{$app-content-padding} * 2);
    overflow: hidden;
}

@media (max-width: $breakpoint-min-md) {
  .app-detail--glitch-margin {
      margin-top: 50px;
  }
}