.chores-view {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;

  &__button {
    grid-area: view-button;
  }

  &--today {
    grid-area: chores-primary;
  }

  &--week {
    grid-area: chores-secondary;
  }
}

@media (max-width: $breakpoint-min-md) {
  .chores-view {
    flex-direction: column !important;
    overflow-y: auto;

    &__column {
      max-width: none !important;
      flex: auto !important;
    }

    &--week {
      display: none;
    }
  }
}
