.chores-view {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -12px;
  margin-left: -12px;

  &__button-list {
    grid-area: button-list;
  }

  &__button-weekly {
    grid-area: button-weekly;
  }

  &--primary {
    grid-area: chores-primary;
  }

  &--secondary {
    grid-area: chores-secondary;
  }
}

@media (max-width: $breakpoint-min-md) {
  .chores-view {
    flex-direction: column !important;
    overflow-y: auto;
    margin-top: 0;

    &__column {
      max-width: none !important;
      flex: auto !important;
    }
  }
}
