.add-chore-dialog {
  grid-area: add-chore-button;

  &__weekly,
  &__monthly {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(7, 1fr);
  }

  &__weekly {
    display: flex;
    flex-flow: wrap;

    > * {
      margin-right: 10px;
    }
  }
}
