@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$font-family-base: 'Open Sans', sans-serif;

$white: #FFF;
$black: #000;

$dark-brown: #271e22;
$brown: #3e0006;
$faded-brown: #3c4132;

$pink: #ebb4c3;
$dark-pink: #a67077;

$faded-orange: #be8e77;
$mallow-orange: #f17363;
$neon-orange: #f3a20e;

$brownish-red: #8c553f;
$orange-red: #db410a;

$app-list-height: 70px;
$app-detail-margin: 20px;

$breakpoint-min-xl: 1200px;
$breakpoint-min-lg: 992px;
$breakpoint-min-md: 768px;
$breakpoint-min-sm: 576px;