.app-list {
    display: flex;
    align-items: center;
    height: $app-list-height;
    background-color: $dark-pink;
    padding: 0 15px;

    &__app {
        display: flex;
        justify-content: center;

        height: 50px;
        width: 50px;
        margin: 0 5px;
        padding: 5px;

        border-radius: 5px;
        border-left: 2px solid $pink;
        border-bottom: 2px solid $pink;


        &--chores {
            background-color: $brownish-red;

            &:hover {
                background-color: darken($brownish-red, 5%);
            }
        }
    }

    &__icon {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}