.chores {
  display: grid;
  grid-template-areas: "chores-view-today" "chores-view-week" "import";
  grid-template-rows: 70% auto 20px;
  height: 100%;

  &__import {
    grid-area: import;
    justify-self: end;
    cursor: pointer;
  }

  // CHORES-VIEW
  &-view {
    overflow-x: auto;
    flex-flow: nowrap;

    &--today {
      grid-area: chores-view-today;
    }

    &--week {
      grid-area: chores-view-week;
    }

    &__add {
      color: $brown;
      margin: 8px 8px 15px;
      box-shadow: -3px 3px 7px 0px $gray-600;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-400;
    }
  }

  // CHORES-CARD
  &-card {
    color: $brown;
    margin: 8px 8px 15px;
    box-shadow: -3px 3px 7px 0px $gray-600;
  
    &[class*="col"] {
      padding: 0;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      padding: 30px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  
    &__delete {
      position: absolute;
      padding: 5px;
      margin: 5px 8px 5px;
      right: 0;
      cursor: pointer;

      &:hover {
        color: $faded-brown;
      }
    }
  
    &__image-container {
      display: flex;
      justify-content: center;
      max-height: 50%;
    }

    &__image {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  
    &__name {
      font-size: 14pt;
      font-weight: bold;
      text-align: center;
    }
  
    &__details {
      font-size: 10pt;
      text-align: center;
    }
  
    &__responsible {
      margin-top: auto;
    }
    
    &__done {
      display: flex;
      position: absolute;
      opacity: 0.5;
      height: 100%;
      width: 100%;
      background-color: $white;
      justify-content: center;
      align-items: center;
      font-size: 7vw;
    }
  
    &--secondary {
      .chores-card {
        &__name {
          font-size: $font-size-base;
        }
  
        &__image-container {
          height: 75%;
        }
      } 
    }
  }
}